<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>--数字集合</title>
    <meta name="keywords" content="<%= keywords %>">

    <link rel="stylesheet" href="/access/css/weui.css" />
    <link rel="stylesheet" href="/access/css/reset.css" />
    <link rel="stylesheet" href="/article/style.css">
    <link rel="stylesheet" href="/access/highlight.js/cdn-release@11.9.0/default.min.css">
    <script src="/access/highlight.js/cdn-release@11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<body>
    <div class="container" id="container">
        <div class="page article js_show" tabindex="-1">
            <div class="page__bd">
                <article class="weui-article">
                    <h1>
                        <%= title %>
                    </h1>
                    <div style="text-align: center;">
                        发表于： <i>
                            <%= createDate %>
                        </i>
                    </div>
                    <section>
                        <%- html %>
                    </section>
                </article>
            </div>
        </div>
    </div>
</body>

</html>