<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>--数字集合</title>
    <meta name="keywords" content="<%= keywords %>">

    <link rel="stylesheet" href="/access/bootstrap@5.3.0-alpha1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/article/style.css">
    <link rel="stylesheet" href="/access/highlight.js/cdn-release@11.9.0/default.min.css">
    <script src="/access/highlight.js/cdn-release@11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<body>
    <%- include('./../components/nav', {current:'app' }); %>
    <div class="container" id="container">
        <h1 class="text-center mt-1">
            <%= title %>
        </h1>
        <article>
            <div class="text-center">
                <%= createDate %>
            </div>
            <section>
                <%- html %>
            </section>
        </article>
    </div>
</body>

</html>