<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="wechat-enable-text-zoom-em" content="true">
    <meta name="website-id" content="<%= website_id %>">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" href="/access/bootstrap@5.3.0-alpha1/css/bootstrap.min.css" />
    <script src="/access/bootstrap@5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/access/css/reset.css" /> 
    <script src="/access/js/apiFetch.js"></script>

    <link rel="stylesheet" href="/index/style.css">
</head>

<body ontouchstart>
    <%- include('./../components/nav', {current:'app' }); %>
    <div class="container">
        <div class="load-previous"></div>
        <div class="page__bd">
            <div class="top-img"></div>
            <h5 style="font-size: 22px;margin-top: 10px;"> <b>最近更新</b></h5>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% list.forEach(function(item){ %>
                    <div class="col">
                        <a href="/article/<%= item.id %>">
                            <div class="card h-100">
                                <img src="/access/img/avatar/<%= item.random %>.jpg" class="card-img-top" height="196px" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= item.title %>
                                    </h5>
                                    <p class="card-text" style="display:-webkit-box; overflow: hidden; text-overflow: ellipsis; --webkit-line-clamp: 2;-webkit-box-orient:vertical;">
                                        <%= item.description %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }); %>
            </div>
            <div class="load-next"></div>
        </div>
        <div class="current-page" data-current="<%= currentPage %>" data-total="<%= totalPage %>"></div>
        <%- include('./../components/pagination', { totalPage: totalPage, currentPage: currentPage}); %>
        <%- include('./../components/footer', { beian: beian }); %>
    </div>
    <script>
        var loadPreviousDom = document.querySelector('.load-previous')
        var loadDom = document.querySelector('.load-next')
        var articleList = document.querySelector('.article-list')
        var currentDom = document.querySelector('.current-page')
        var preDom = document.querySelector('.previous-code')
        var nextDom = document.querySelector('.next-code')

        var throttle = false

        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('scroll', function () {
                var currentPage = currentDom.dataset.current
                var totalPage = currentDom.dataset.total
                if (throttle || (currentPage == totalPage)) {
                    return
                }
                throttle = true
                setTimeout(() => {
                    var rect = loadDom.getBoundingClientRect()
                    if (rect.top < window.innerHeight + 100) {
                        nextPage = nextDom.dataset.page
                        getData(nextPage)
                    } else {
                        throttle = false
                    }
                }, 100)
            }, true)
        });
        function render(item) {
            /* html */
            return `
                    <a aria-labelledby="js_p1m1_bd_${item.id}" href="/article/${item.id}" class="weui-media-box weui-media-box_appmsg">
                        <div aria-hidden="true" class="weui-media-box__hd thumbnail">
                            <img class="weui-media-box__thumb"
                                src="/access/img/avatar/${item.random}.jpg"
                                alt="${item.title}">
                        </div>
                        <div aria-hidden="true" id="js_p1m1_bd_${item.id}" class="weui-media-box__bd">
                            <strong class="weui-media-box__title">
                                ${item.title}
                            </strong>
                            <p class="weui-media-box__desc">
                                description}
                            </p>
                        </div>
                    </a>
                `
        }

        function getData(page) {
            const body = {
                type: 2,
                status: 'release',
                fuzzy: '',
                page: page,
                size: 20,
                website_id: document.getElementsByName('website-id')[0].getAttribute('content')
            }
            apiFetch.post('/api/article/page', body).then(e => {
                if (e.success) {
                    throttle = false
                    currentDom.setAttribute('data-current', e.data.currentPage)
                    currentDom.setAttribute('data-total', e.data.totalPage)
                    history.replaceState(null, null, `?page=${e.data.currentPage}`);
                    var tempalte = ''
                    e.data.list.forEach(item => {
                        item.random = Math.floor(Math.random() * 41) + 1,
                            tempalte += render(item)
                    });
                    articleList.innerHTML += tempalte;
                }
            })
        }

    </script>
</body>

</html>