<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="wechat-enable-text-zoom-em" content="true">
    <meta name="website-id" content="<%= website_id %>">
    <title> <%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" href="/access/css/weui.css" />
    <link rel="stylesheet" href="/access/css/reset.css" />
    <script src="/access/js/apiFetch.js"></script>

    <link rel="stylesheet" href="/index/style.css">
</head>

<body ontouchstart>
    <script type="text/javascript">window.__wxWebEnv && (document.body.style.webkitTextSizeAdjust = JSON.parse(window.__wxWebEnv.getEnv()).fontScale + "%")</script>
    <div class="container">
        <div class="load-previous"></div>
        <div class="page panel js_show">
            <div class="page__bd">
                <div class="top-img"></div>
                <div class="weui-panel weui-panel_access">
                    <div class="weui-panel__bd article-list">
                        <% list.forEach(function(item){ %>
                            <a aria-labelledby="js_p1m1_bd_<%= item.id %>" href="/article/<%= item.id %>" class="weui-media-box weui-media-box_appmsg">
                                <div aria-hidden="true" class="weui-media-box__hd thumbnail">
                                    <img class="weui-media-box__thumb"
                                        src="/access/img/avatar/<%= item.random %>.jpg"
                                        alt="<%= item.title %>">
                                </div>
                                <div aria-hidden="true" id="js_p1m1_bd_<%= item.id %>" class="weui-media-box__bd">
                                    <strong class="weui-media-box__title">
                                        <%= item.title %>
                                    </strong>
                                    <p class="weui-media-box__desc">
                                        <%= item.description %>
                                    </p>
                                </div>
                            </a>
                        <% }); %>
                    </div>
                    
                    <div class="load-next"></div>
                 </div>
                 <div class="current-page" data-current="<%= currentPage %>" data-total="<%= totalPage %>"></div>
                 <%- include('./../components/pagination', { totalPage: totalPage, currentPage: currentPage}); %>
                 <%- include('./../components/footer', { beian: beian }); %>
            </div>
        </div>
        <script>
            var loadPreviousDom = document.querySelector('.load-previous')
            var loadDom = document.querySelector('.load-next')
            var articleList = document.querySelector('.article-list')
            var currentDom = document.querySelector('.current-page')
            var preDom = document.querySelector('.previous-code')
            var nextDom = document.querySelector('.next-code')
        
            var throttle = false
      
            document.addEventListener('DOMContentLoaded', function() {
                window.addEventListener('scroll',function(){
                    var currentPage = currentDom.dataset.current
                    var totalPage = currentDom.dataset.total
                    if(throttle||(currentPage==totalPage)) {
                      return 
                    }
                    throttle = true
                    setTimeout(()=>{
                        var rect = loadDom.getBoundingClientRect()
                        if(rect.top< window.innerHeight+100){
                            nextPage = nextDom.dataset.page
                            getData(nextPage)
                        } else {
                            throttle = false
                        }
                    }, 100)
                }, true)
            });
            function render(item){
                /* html */
                return `
                    <a aria-labelledby="js_p1m1_bd_${item.id}" href="/article/${item.id}" class="weui-media-box weui-media-box_appmsg">
                        <div aria-hidden="true" class="weui-media-box__hd thumbnail">
                            <img class="weui-media-box__thumb"
                                src="/access/img/avatar/${item.random}.jpg"
                                alt="${item.title}">
                        </div>
                        <div aria-hidden="true" id="js_p1m1_bd_${item.id}" class="weui-media-box__bd">
                            <strong class="weui-media-box__title">
                                ${item.title}
                            </strong>
                            <p class="weui-media-box__desc">
                                description}
                            </p>
                        </div>
                    </a>
                `
            }

            function getData(page){
                const body = {
                    type: 2,
                    status: 'release',
                    fuzzy: '',
                    page: page,
                    size: 20,
                    website_id: document.getElementsByName('website-id')[0].getAttribute('content')
                }
                apiFetch.post('/api/article/page', body).then(e=>{
                    if(e.success){
                        throttle = false
                        currentDom.setAttribute('data-current', e.data.currentPage)
                        currentDom.setAttribute('data-total', e.data.totalPage)
                        history.replaceState(null, null, `?page=${e.data.currentPage}`);
                        var tempalte = ''
                        e.data.list.forEach(item => {
                            item.random = Math.floor(Math.random()*41)+1,
                            tempalte += render(item)
                        });
                        articleList.innerHTML += tempalte;
                    }
                })
            }
           
        </script>
</body>

</html>